@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* all */

.btn {
    align-items: center;
    text-align: center;
}

.btn_bg1 {
    background-color: rgb(254, 163, 1);
}

.btn_bg2 {
    background-color: rgb(17, 17, 17);
}

.color_text1 {
    color: rgb(254, 163, 1);
}

.color_text2 {
    color: rgb(1, 172, 253);
}

.color_text3 {
    color: rgb(5, 212, 223);
}

.color_text4 {
    color: rgb(93, 88, 239);

}

.color_text5 {
    color: rgb(17, 17, 17);

}

.primary {
    color: rgb(135, 0, 255);
}

.bg1 {
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.bg2 {
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);

}

.bg3 {
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

/* header */


header {
    margin: 0 140px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 10px;
    gap: 186;
}


.nav-head {
    display: flex;
    align-items: center;
}

.nav-head img {
    width: 100%;
}

.nav-title {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}


.nav-links {
    display: flex;
    list-style: none;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
}

.btn-primary1 {
    border-radius: 12px;
    gap: 10;
    padding: 10px 40px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.btn-primary {
    border-radius: 12px;
    gap: 10;
    padding: 10px 40px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    cursor: pointer;
}

/* hero */
.hero {
    display: flex;
    align-items: center;
    gap: 50;
    margin: 40px 0px;

}

.hero-content {
    max-width: 100%;
}

.hero-title {
    font-family: Quicksand;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 61px;
    text-align: left;
    gap: 20;
}

.hero-description {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 25px;
    gap: 20;
}

.image {
    margin-left: 50px;
}

/* main */
main {
    max-width: 1440px;
    height: 879px;
    gap: 80;
    margin: 0 160px;
}

/* Curriculum-section */

.Curriculum {
    background: url("../assets/bg.png");
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}


.Curriculum-title {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 2rem;
    font-weight: 700;
    line-height: 57.5px;
    text-align: center;
}

.Curriculum-container {
    width: 300.8px;
    height: 400.78px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    /* background: linear-gradient(180deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20;
}


.Standard-title {
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 30.65px;
    text-align: center;
    margin-bottom: 10px;
}

.Standard-description {
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    line-height: 28.3px;
    text-align: center;
    margin-bottom: 20px;
}

.Standard-a {

    font-family: Quicksand;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.Read {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.image-Curriculum {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 10px;
}

.ball-prev {
    border-radius: 50%;
    background: rgb(254, 163, 1);
    width: 60px;

}

.ball-prev p {
    color: rgb(255, 255, 255);
    font-family: Font Awesome 5 Free;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
}

/* our Stories */
.Stories-container {
    position: relative;
    width: 385.27px;
    height: 450.52px;
    display: flex;
    gap: 20px;
}

.Stories {
    border-radius: 16px;
    width: 400.27px;
    height: 600.52px;
    background: rgb(255, 255, 255);
}

.Stories-section {
    background: linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%),
        url('../assets/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 818.02px;
    align-items: center;
    position: relative;
}

.image-Stories img {
    width: 400.27px;
    border-radius: 11px 11px 0px 0px;
}

.Stories-title {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 38.35px;
    text-align: left;
    padding-left: 20px;
}

.Standard-description {
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 0.84px;
    font-weight: 500;
    line-height: 28.76px;
    text-align: left;
    padding-left: 20px;
}

.crad {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16.5px;
}

.crad-btn {
    border-radius: 28.54px;
    background: rgb(93, 88, 240);
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 17.12px;
    text-align: center;
    text-transform: capitalize;
    border: none;
    margin-left: 90px;
    position: relative;
    top: -17px;
    width: 103.91px;
    height: 22.83px;
}



.crad-title {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 0.84rem;
    font-weight: 700;
    line-height: 28.76px;
    text-align: left;
    padding-left: 20px;
}

.image-crad img {
    border-radius: 11px 11px 0px 0px;
    width: 280.69px;
}

.Stories-crad {
    border-radius: 16px;
    width: 280.69px;
    height: 291.61px;
    background: rgb(255, 255, 255);
}

/* footer */
footer {
    background: rgb(1, 172, 253);
    color: #fff;
    padding: 40px 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-logo {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
    align-items: flex-start;
    
}

.footer-logo img {
    width: 50px;
    height: 50px;
}

.footer-logo h3 {
    margin: 10px 0 5px;
    font-size: 1.5rem;
}

.footer-logo p {
    font-size: 0.9rem;
    line-height: 1.5;
}

#lo-go {
    display: inline-block;
}

#logo-title {
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 1.5;
}

.footer-links,
.footer-social {
    margin: 20px 0;
}

.footer-links h4,
.footer-social h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.footer-links a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 5px;
  
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}

.footer-social img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;
   
}



@media screen and (max-width: 576px) {
    header {
        margin: 0 auto;
        width: 100%;
    }

    .main-nav {
        display: flex;
        align-items: center;
        padding: 10px 0;
        gap: 15px;
    }

    .nav-head {
        flex-direction: column;
    }

    .hero {
        flex-direction: column-reverse;
    }

    .nav-links,
    .nav-title,
    .ball,
    .Stori,
    .Stories,
    .btn-primary {
        /* flex-direction: column; */
        display: none;
    }

    hr {
        background-color: rgb(254, 163, 1);
    }

    .fa-solid,
    .fa-bars {
        size: 40px;
    }

    .image {
        width: 100%;
        margin-top: -10px;
        position: relative;
        margin-left: 0;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        margin-left: 50px;
    }

    main {
        margin: 0 auto;
    }

    .crad {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16.5px;
        margin-left: 50px;
    }

    .Stories-section {
        width: 100%;
        height: 1444px;
        align-items: center;
        position: relative;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}

/* desktop */
@media screen and (min-width: 576px) and (max-width: 1400px) {
    hr {
        display: none;
    }

    .fa-solid,
    .fa-bars {
        visibility: hidden;
    }

}